/*
 * Would like to cite a reason for each of these entries
 *
 * In the meantime, I'll leave them here and put the into their own
 * containers.
 *
 */
container-fluid {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* these might have to do with panel_collapse */
.row-fluid {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}

/* for panel_collapse, adds cursor on panel heading */
.accordion-toggle:hover {
  cursor: pointer;
}

.partition-title {
  text-align: center;
  margin: 0;
}

/* This is used so that the modal backdrop renders properly */
.modal-backdrop {
  z-index: -1;
}

/* Table headings and entries can benefit from some extra spacing */
th, td {
  padding: 7.5px;
}

/* format embedding video */
.video_embed {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}



